<web-app> 
<servlet> 
<servlet-name>LoginServlet</servlet-name> 
<servlet-class>controller.LoginServlet</servlet-class> 
</servlet> 
<servlet-mapping> 
<servlet-name>LoginServlet</servlet-name> 
<url-pattern>/LoginServlet</url-pattern> 
</servlet-mapping> 
<servlet> 
<servlet-name>TeamServlet</servlet-name> 
<servlet-class>controller.TeamServlet</servlet-class> 
</servlet> 
<servlet-mapping> 
<servlet-name>TeamServlet</servlet-name> 
<url-pattern>/TeamServlet</url-pattern> 
</servlet-mapping> 
</web-app>